  <% if @movie.errors.any? %>
  <%= debug @movie %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
     <div class="field">
    <%= f.label :picture %>

    <%= file_field_tag :picture %>
    <% image_name = @movie.picture.name rescue nil %>
          <%= image_tag('/uploads/' + image_name , :width => 100) if image_name %>
  </div>

  <div class="field">
    <%= f.label :photos %>
    <%= file_field_tag :photos %>
    <%
   photos = @movie.photos rescue nil %>

          <% photos.each do |photo| %>
              <%= image_tag('/uploads/' + photo.name , :width => 100) %>
          <% end %>
  </div>

  <div class="field">
    <%= f.label :release_date %>
    <%= select_date (Time.now + 6.days) %>
  </div>

  <!-- <div class="field">
    <%= f.label :release_date %>
    <%= time_ago_in_words(3.minutes.from_now) %>
  </div> -->
  <!-- <div>
    <%= time_select("order", "submitted") %>
  </div> -->
  <div class="field">
    <%= f.label :casts %>
    <%= f.collection_select :actor_ids, Actor.order(:name), :id, :name, {}, {multiple: true, size: 10} %>
  </div>
  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  <div>
   <%= time_zone_select(:person, :time_zone) %>
  </div>
  <div>
   <%= select_date Date.today, prefix: :start_date %>
  </div>
  <div>
    <%= date_select :person, :birth_date %>
  </div>
  
  <% content_for :page_title do %>
    Awesome page
<% end %>

<script>
// button_to_function "Greeting", "alert('Hello world!')"
  // alert('nfhdjhfjdgj');
  // link_to_function "Greeting", "alert('Hello world!')"
</script>
