<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>
  <% image_name = @movie.picture.name rescue nil %>
          <%= image_tag('/uploads/' + image_name , :width => 100) if image_name %>
<h3>Gallery Pictures</h3>

  <%
   photos = @movie.photos rescue nil %>

          <% photos.each do |photo| %>
          <div>
              <%= image_tag('/uploads/' + photo.name , :width => 100) %>
              <%= link_to 'Download', {:action => 'download_image', :id => photo.id},:class => 'btn' %>
          <br><br></div>
          <% end %>


<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>


<p>
  <strong>Casts:</strong>
  <%=  @movie.actors.map { |actor| actor.name }.join ", " %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>
<%= link_to 'Edit', edit_movie_path(@movie),:class => 'btn' %> |
<%= link_to 'Back', movies_path,:class => 'btn' %>
