<%= form_for([@movie,@trailer]) do |f| %>
  <% if @trailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailer.errors.count, "error") %> prohibited this trailer from being saved:</h2>

      <ul>
      <% @trailer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :movie %>
   <%= select "movie", "id", options_for_select(Movie.all.collect {|p| [ p.name, p.id ] }, :selected => params[:movie_id]) %>
    
  </div>

  <div class="field">
    <%= f.label :video_url %>
    <%= f.text_field :video_url %>
  </div>
  <div class="field">
    <%= f.label :views %>
    <%= f.number_field :views %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
