<h1>Listing trailers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Video link</th>
      <th>Views</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trailers.each do |trailer| %>
      <tr>
        <td><%= trailer.video_url %></td>
        <td><%= trailer.views %></td>
        <td><%= link_to 'Show', trailer,:class => 'btn' %></td>
        <td><%= link_to 'Edit', edit_trailer_path(trailer),:class => 'btn' %></td>
        <td><%= link_to 'Destroy', trailer, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trailer', new_trailer_path, :class => 'btn' %>
