<p id="notice"><%= notice %></p>

<p>
  <strong>Video link:</strong>
  <%= @trailer.video_url %>
</p>

<p>
  <strong>Views:</strong>
  <%= @trailer.views %>
</p>

<%= link_to 'Edit', edit_trailer_path(@trailer),:class => 'btn' %> |
<%= link_to 'Back', trailers_path,:class => 'btn' %>
