<p id="notice"><%= notice %></p>


  <strong>Video link:</strong>
  <%= YoutubeHelper::video_frame(@trailer.video_url).html_safe %>


<p>
  <strong>Views:</strong>
  <%= @trailer.views %>
</p>

<%= link_to 'Edit', edit_movie_trailer_path(@movie,@trailer),:class => 'btn' %> |
<%= link_to 'Back', movie_trailers_path(@movie),:class => 'btn' %>
