<p id="notice"><%= notice %></p>

<p>
  <strong>Video link:</strong>
  <iframe width="500" height="300" src="<%= @trailer.video_url.gsub "watch?v=", "embed/" %>" frameborder="0"></iframe>
</p>

<p>
  <strong>Views:</strong>
  <%= @trailer.views %>
</p>

<%= link_to 'Edit', edit_trailer_path(@trailer),:class => 'btn' %> |
<%= link_to 'Back', trailers_path,:class => 'btn' %>
